.product__order-form {
  background: url("../img/topsection-background.png") no-repeat;
  padding: 1em;
  select {
    background-color: gray;
    width: 12em;
  }
  input[type=text] {
    color: black;
    width: 6em;
  }
  input[type=submit] {
    background-color: turquoise;
    width: 12em;
  }
  button[type=button] {
    background-color: gray;
    width: 3em;
  }
}

.product__description {
  background-color: #666666;
  padding: 1em;
}

.product__reviews {
  background-color: #000066;
  padding: 1em;
}

.product__image--order-form {
  display: block;
  margin: 0 auto
}