.vertically-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-footer(@height) {
  background-color: black;
  color: white;
  font-size: @font-size-small;
  height: @height;
}
