.nav__links {
  margin-top: 1em;
  margin-bottom: 1em;
  a.dropdown-toggle {
    color: @green1;
    font-size: @font-size-large;
    padding-top: 0;
    padding-bottom: 0;
  }
  li.dropdown {
    background-image: url('../images/nav-divider.png');
    background-position: top right;
    background-repeat: no-repeat;
    width: 20%;
    &:last-child {
      background-image: none;
    }
    >.dropdown-toggle {
      background: none;
    }
    >.dropdown-menu {
      margin-left: -5%;
      margin-top: .5em;
      padding: 0;
      width: 110%;
      .divider {
        margin: 0;
      }
      >li {
        a {
          font-size: @font-size-large;
          &:hover {
            background-color: @green1;
            color: white;
          }
        }
      }
    }
  }
}

.breadcrumb {
  background-color: transparent;
  margin: 1em 0 0 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  a {
    color: white;
  }
}