@import 'bower_components/components-bootstrap/less/bootstrap.less';
@icon-font-path: "../../bower_components/components-bootstrap/fonts/";

@import 'bower_components/fontawesome/less/font-awesome.less';
@fa-font-path: '../../bower_components/fontawesome/fonts';

@import '_header';
@import '_nav';
@import '_main';
@import '_footer';
@import (reference) '_mixins';

body {
  font-family: 'Raleway', sans-serif;
}

header {
  .header-footer(100px);
}

main {
  color: white;
}

footer {
  .header-footer(67px);
}

.margin-top-0 {
  margin-top: 0;
}

.margin-right-1 {
  margin-right: 1em;
}

.social-icon__twitter {
  position: relative;
  top: 4px;
}

.centered-image {
  display: block;
  margin: 0 auto
}
