@import 'bower_components/components-bootstrap/less/bootstrap.less';
@icon-font-path: "../../bower_components/components-bootstrap/fonts/";

@import 'bower_components/fontawesome/less/font-awesome.less';
@fa-font-path: '../../bower_components/fontawesome/fonts';

@import '_header';
@import '_footer';

body {
  font-family: 'Raleway', sans-serif;
}

.social-icon__twitter {
  position: relative;
  top: 4px;
}

.nav__links {
  li.dropdown {
    width: 20%;
    >.dropdown-menu {
      width: auto;
    }
  }
}
