<div class="row">
    <div class="col-sm-2 col-sm-offset-2">
        <h2 class="margin-top-0">Reviews</h2>
    </div>
    <div class="col-sm-4">
        <a class="js-create-review" href="#">Write a review for this product</a>
    </div>
</div>
<div class="row" id="product__reviews--collection"></div>