<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 productReviewsHeader">
            <h2 class="productReviewsHeader-title">Reviews</h2>
            <ul class="productReviewsHeader-actions">
                <li>
                    <a class="js-createReview" href="#">Write a review for this product</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="js-productReviewsCollectionRegion row"></div>
</div>
