<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {{#if header}}
                <div class="modal-header">
                    {{header}}
                </div>
            {{/if}}
            <div class="modal-body">
                {{body}}
            </div>
            <div class="modal-footer">
                {{footer}}
            </div>
        </div>
    </div>
</div>