<form class="product-review-form">
    <div class="margin-bottom-1 row">
        <div class="col-sm-7">
            <label class="font-size-large" for="star-rating">
                Please Rate the <strong>Tough Mojo Jacket&reg;</strong>
            </label>
        </div>
        <div class="col-sm-5">
            {{#renderStars 5}}{{/renderStars}}
        </div>
    </div>
    <div class="margin-bottom-1 row">
        <div class="col-sm-3">
            <label class="font-size-large" for="title">
                Review Title:
            </label>
        </div>
        <div class="col-sm-9">
            <input
                class="js-editReviewRext input-lg"
                id="title"
                name="title"
                style="width: 100%;"
                type="text"
                value="{{title}}"
            >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label class="sr-only" for="description">
                Review Description
            </label>
            <textarea
                class="js-editReviewText input-lg"
                name="description"
                placeholder="- Write your review here -"
                rows="5"
                style="width: 100%"
                value="{{description}}"
            ></textarea>
        </div>
    </div>
</form>